/* Reset and Base Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Header Section */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-left h1,
.header-left h2 {
    font-family: 'EB Garamond', sans-serif;
}

.header-left h1 {
    font-family: 'EB Garamond', sans-serif;
    font-size: 2.5rem;
    font-weight: 200;

    margin-bottom: 5px;
}

.header-left h2 {
    font-size: 1.6rem;
    font-weight: 200;
}

.header-right {
    display: flex;
    align-items: center;
    position: relative;
    flex-grow: 1;
    justify-content: flex-end;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu li a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: #4CAF50;
}

.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
}

/* Responsive Navigation */
@media (max-width: 1000px) {
    .main-header {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px;
    }

    .hamburger {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 60px;
        right: 20px;
        width: 150px;
        border-radius: 4px;
    }

    .menu.active {
        display: flex;
    }
}

/* Hero Section */
.hero {
    position: relative;
    background-image: url('../images/hero_section_image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: flex-end; /* Align the content to the bottom */
    padding: 40px;
    color: white;
}

.hero-content {
    width: 100%; /* Make sure the content spans the full width */
    display: flex;
    justify-content: space-between; /* Space content to left and right */
    align-items: flex-end; /* Ensure both hero-text and hero-details are at the bottom */
}

.hero-text {
    max-width: 40%; /* Keeps the text in the left quadrant */
    text-align: left;
}

.hero-text h1 {
    font-family: 'EB Garamond', sans-serif;
    font-size: 4rem;
}

.hero-details {
    max-width: 40%; /* Keeps the details in the right quadrant */
    text-align: right;
}

.hero-details p {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 300;
}

.hero-buttons {
    display: flex;
    font-family: 'Lato', sans-serif;
    gap: 60px;
    justify-content: flex-end; /* Align buttons to the right */
}

.hero-buttons .btn {
    padding: 15px 30px;
    border: 2px solid white;
    font-size: 1rem;
    background-color: transparent;
    text-decoration: none;
    color: white;
    transition: opacity 0.3s ease;
}

.btn:hover {
    opacity: 0.8;
}


/* Services Section */
.services {
    padding: 50px 20px;
    background-color: #f4f4f4;
}

.services h2 {
    font-family: 'EB Garamond', sans-serif;
    font-size: 3.5rem;
    margin-bottom: 40px;
    font-weight: 200;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Industries Section */
.industries {
    padding: 50px 20px;
    background-color: #5E5E5E;
}

.industries h2 {
    font-family: 'EB Garamond', sans-serif;
    font-size: 3.5rem;
    margin-bottom: 40px;
    font-weight: 200;
    color: white;
}

.industries-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.industry {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.industry img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-bottom: 10px;
}

.industry h3 {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: white;
}

.industry p {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    color: #f4f4f4;
    text-align: center;
}

/* About Section */
.about {
    padding: 50px 20px;
    background-color: #AEB5AD;
}

.about-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.about-text h2 {
    font-family: 'EB Garamond', sans-serif;
    font-size: 3.5rem;
    margin-bottom: 40px;
    font-weight: 200;
    color: white;
}

.about-text p {
    font-size: 1.2rem;
}
/* Contact Section */
/* Contact Section */
.contact {
    padding: 60px 20px;
    background-color: #333;
    color: white;
}

.contact-content {
    display: flex;
    justify-content: space-between; /* Keeps left and right sections apart */
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%; /* Ensures the flex container takes up the full height */
}

.contact-left,
.contact-right {
    flex: 1; /* Ensures both sections take up equal width */
}

.contact-left {
    padding-right: 20px; /* Adds spacing between the two sections */
}

.contact-left h1,
.contact-left h3,
.contact-left h4 {
    font-family: 'EB Garamond', sans-serif;
}

.contact-left h1 {
    font-size: 3.5rem;
    margin-bottom: 40px;
    font-weight: 200;
    color: white;
}

.contact-left h3 {
    font-family: 'EB Garamond', sans-serif;
    font-size: 2.5rem;
    font-weight: 200;
    margin-bottom: 5px;
}

.contact-left h4 {
    font-size: 01.2rem;
    font-weight: 200;
}

.contact-right {
    align-self: flex-end; /* Pushes the content to the bottom */
    text-align: right; /* Ensures the text is aligned to the right */
}

.contact-right p{
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
}
.contact-left p {
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
    line-height: 1.6;
}

.contact-right p a {
    color: white;
    text-decoration: none;
}

.contact-right p a:hover {
    text-decoration: underline;
    color: #4CAF50; /* Adds a color to the links */
}

/* Responsive adjustments */
@media (max-width: 1000px) {
    .hero {
        flex-direction: column;
        align-items: center;
    }

    .hero-text, .hero-details {
        max-width: 100%;
        text-align: center;
    }

    .hero-details {
        margin-top: 20px;
    }

    .services-grid,
    .industries-grid {
        grid-template-columns: 1fr;
    }

    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .contact-content {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .hero-text h1 {
        font-size: 2.5rem;
    }

    .hero-details p {
        font-size: 1.2rem;
    }

    .services h2,
    .industries h2,
    .about h2 {
        font-size: 2.5rem;
    }
}
